{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "key-spacing": "off",
    "no-trailing-spaces": [0, { "skipBlankLines": true }],
    "max-len": [2, {"code": 120, "tabWidth": 2, "ignoreUrls": true}],
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
